<div class="courses-containers">
    <div class="courses-list">
        <mat-card>
        <mat-card-header>
            <mat-card-title>
            Course List
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-list>
                <mat-list-item *ngFor="let c of courses" (click)="selectCourse(c)">
                    <h3 matLine>{{c.title | titlecase}}</h3>
                    <p matLine>{{c.description}}</p>
                    <button mat-icon-button color="warn" (click)="deleteCourse(c.id); $event.stopImmediatePropagation()">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
        </mat-card>
    </div>

    <div class="course-details">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <span *ngIf="selectedCourse?.id; else noCourseSelected">
                        {{originalTitle | titlecase}}
                    </span>
                    <ng-template #noCourseSelected>Select a Course</ng-template>
                </mat-card-title>
            </mat-card-header>
            <form #form="ngForm" (submit)="saveCourse(selectedCourse)">
                <mat-card-content>
                    <mat-form-field class="full-width">
                        <input
                            matInput
                            placeholder="Title"
                            [(ngModel)]="selectedCourse.title"
                            name="title"
                            required
                            type="text">
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <textarea
                            matInput
                            placeholder="Description"
                            [(ngModel)]="selectedCourse.description"
                            name="description"
                            type="text" rows="3"></textarea>
                    </mat-form-field>
                    <section class="full-width">
                        <p>{{selectedCourse.percentComplete}}% completed</p>
                        <mat-slider
                            class="full-width"
                            discrete
                            thumbLabel
                            [(ngModel)]="selectedCourse.percentComplete"
                            name="percentComplete">
                        </mat-slider>
                    </section>
                    <section class="full-width">
                        <mat-checkbox [(ngModel)]="selectedCourse.favorite" name="favorite">Favorite</mat-checkbox>
                    </section>
                </mat-card-content>
                <mat-card-actions>
                    <button type="submit" mat-button color="primary" [disabled]="form.invalid">Save</button>
                    <button type="button" mat-button (click)="resetSelectedCourse()" *ngIf="selectedCourse?.id">Cancel</button>
                </mat-card-actions>
                <pre>{{form.value | json}}</pre>
                <pre>{{form.valid | json}}</pre>
            </form>
        </mat-card>
    </div>
</div>